:root {
  --primary: #dc2626;
  --negro: #262626;
  --blanco: #fff;
  --fuente-principal: "Outfit", sans-serif;
  --secondary: #fef2f2;
  --accent: #f87171;
  --blue: #2563eb;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  color: var(--primary);
  line-height: 1.5;
}
img {
  max-width: 100%;
}

[class*="container"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
  display: flex;
  align-items: center;
}

[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--blue);
  margin: 5rem 0;
}

[class*="image-index"] {
  background-size: cover;
  background-position: 50%;
  justify-items: end;
}

