:root {
  --primary: #e5383b;
  --black: #262626;
  --white: #fff;
  --fuente-principal: "Outfit", sans-serif;
  --secondary: #fef2f2;
  --accent: #f87171;
  --blue: #2563eb;
  --turquese: #06d6a0;
  --yellow: #ffd166;
  --fucsia: #ef476f;
  --sky: #00bbf9
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  color: var(--fucsia);
  line-height: 1.5;
}

[class*="container"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--sky);
}

